<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask-AppMaker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form class="form-horizontal" method="post" action="/download">
<fieldset>

<!-- Form Name -->
<legend>Flask-AppMaker: Custom Design</legend>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="models"># of tables(models)</label>
  <div class="col-md-4">
    <select id="models" name="models" class="form-control">
	  <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="extras">Table(Model) Extras</label>
  <div class="col-md-4">
    <select id="extras" name="extras" class="form-control">
      <option value="none">None</option>
      <option value="user">User Table(Model) Included</option>
      <option value="userauth">User Table(Model) w/Flask-Login Included</option>
    </select>
  </div>
</div>

<!-- Select Basic -->
<div class="form-group">
  <label class="col-md-4 control-label" for="routes"># of routes (endpoints)</label>
  <div class="col-md-4">
    <select id="routes" name="routes" class="form-control">
	  <option value="0">0</option>
      <option value="1">1</option>
      <option value="2">2</option>
      <option value="3">3</option>
      <option value="4">4</option>
      <option value="5">5</option>
      <option value="6">6</option>
      <option value="7">7</option>
      <option value="8">8</option>
      <option value="9">9</option>
      <option value="10">10</option>
      <option value="11">11</option>
      <option value="12">12</option>
      <option value="13">13</option>
      <option value="14">14</option>
      <option value="15">15</option>
      <option value="16">16</option>
      <option value="17">17</option>
      <option value="18">18</option>
      <option value="19">19</option>
      <option value="20">20</option>
      <option value="21">21</option>
      <option value="22">22</option>
      <option value="23">23</option>
      <option value="24">24</option>
      <option value="25">25</option>
      <option value="26">26</option>
      <option value="27">27</option>
      <option value="28">28</option>
      <option value="29">29</option>
      <option value="30">30</option>
    </select>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <div class="col-md-4">
    <input type="submit" id="finish" value="Finished" name="finish" class="btn btn-primary pull-right"></input>
  </div>
</div>


</fieldset>
</form>
 <div class="col-md-4">
<a href="/" class="btn btn-danger pull-right" role="button">Start Over</a><br>
</div>
</body>
</html>
