<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask-AppMaker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>
<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<legend>Flask-AppMaker: Download your App</legend>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="download"></label>
  <div class="col-md-4">
    <a href="/{{ zipf }}" class="btn btn-success" role="button">Download</a>
  </div>
</div>

<!-- Button -->
<div class="form-group">
  <label class="col-md-4 control-label" for="startover"></label>
  <div class="col-md-4">
    <a href="/" class="btn btn-danger" role="button">Start Over</a><br>
  </div>
</div>

</fieldset>
</form>
</body>
</html>