<!DOCTYPE html>
<html lang="en">
<head>
  <title>Flask-AppMaker</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<body>

<div class="container">
  <div class="jumbotron">
    <h1>Flask-AppMaker</h1>      
    <p>Flask-AppMaker is the next generation of fast & automated web application development. Flask App-Maker is a Flask Web App that allows you to design a Flask Web App (models & routes) and then it outputs a zipfile that contains the Python code and directories for you to download. Minimal configuration is needed to get the Flask-AppMaker's outputted code up and running.</p>
  </div>
 <a href="/custom" class="btn btn-info" role="button">Start Custom Design</a><p> Design your Flask Web App's tables(models) and relationships & routes(endpoints) and their methods </p><br>
  <a href="/express" class="btn btn-info" role="button">Start Express (Barebones) Design</a><p> Design a minimal Flask Web App template that is created based on the number of tables(models) & routes(endpoints) that you choose</p><br>
       
</div>
<footer>
<br>
<br>
  <p>Created by: Maxavier Jeanphilippe</p>
  <p>Github: <a href="https://github.com/Maxthecoder1/">github.com/Maxthecoder1</a></p>
  <p>Linkedin: <a href="https://www.linkedin.com/in/maxthecoder/">www.linkedin.com/in/maxthecoder</a></p>
</footer>

</body>
</html>
